.havedrop{
  color:red;
 
  display: none;
  margin: 0;
  padding: 0;

}
.titles{
  position: relative;
  display: flex;
  justify-content: space-around;
color:black;

}
li{
  list-style: none;
}
.liste1:hover .havedrop{
  position: absolute;
  color:black;
  display:block;
  border:solid 1px aqua;
}
.fropliste{
  padding :10px;
 

}